@model List<AccountModel>

@{
    ViewData["Title"] = "Quản lý tài khoản";
}

<div>
    <a class="btn btn-warning btn-sm" onclick="openModal('/Account/AccountViewEdit', { iID: '0' })">Thêm mới</a>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Mã đăng nhập</th>
            <th>Mật khẩu</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AccountModel objAccount in Model)
        {
            <tr>
                <td>@objAccount.AccountName</td>
                <td>@objAccount.AccountPassword</td>
                <td>
                    <!-- Cập nhật tài khoản -->
                    <a onclick="openModal('/Account/AccountViewEdit', { id: '@objAccount.AutoID' })" class="btn btn-warning btn-sm">Cập nhật</a>

                    <!-- Xem chi tiết tài khoản -->
                    <a onclick="openModal('/Account/AccountViewDetail', { id: '@objAccount.AutoID' })" class="btn btn-info btn-sm">Xem chi tiết</a>

                    <!-- Xóa tài khoản -->
                    <a href="javascript:void(0);" onclick="if(confirm('Bạn có chắc chắn muốn xóa không?')) openModal('/Account/Delete', { id: '@objAccount.AutoID' });" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Nhúng modal từ partial view -->
@Html.Partial("~/Views/Shared/Modal.cshtml")
